extends layout

block content
	div.row
		div.small-12.columns.page-title
			img.profile-pic(src="http://graph.facebook.com/"+user.fb_id+"/picture?width=80&height=80")
			h1= "Welcome, " + user.firstName()

	div.row(class="offers")
		h3="Purchases"
		-var count = 0;
		-each purchase in purchases
			div.offer.row
				div.small-12.offer-info
					div.small-12.columns
						h5="$" + purchase.fixedPrice()
							if (purchase.type == "Block")
								span.sell_type.sell_block=purchase.type
							else
								span.sell_type=purchase.type
						h5=" @ " + purchase.location
						h6=purchase.formatDate() + " | " + purchase.formatTime()
				row
					div.small-12
						div.button-bar.action-button
							ul.button-group
								li
									a.small.radius.button.success(href="/purchase_status/" + purchase._id)="View Status"
			-count ++;
		-if (count == 0){
			div.offer.row
				div.small-12.columns.offer-info
					p 
						i Your have not purchased anything.
		-}

	div.row(class="offers")
		h3="Transactions Awaiting Approval"
		-var count = 0;
		-each offer in offers
			-if (offer.accepted && !offer.completed){
				div.offer.row
					div.small-12.offer-info
						div.small-12.columns
							h5="$" + offer.fixedPrice()
								if (offer.type == "Block")
									span.sell_type.sell_block=offer.type
								else
									span.sell_type=offer.type
							h5=" @ " + offer.location
							h6=offer.formatDate() + " | " + offer.formatTime()
					row
						div.small-12
							div.button-bar.action-button
								ul.button-group
									li
										a.small.radius.button(href="/edit/" + offer._id)="Edit"
									li
										a.small.radius.button.success(href="/status/" + offer._id)="View Status"
									li
										a.small.radius.button.secondary.alert(href="/delete/" + offer._id)="Delete"
				-count ++;
			-}
		-if (count == 0){
			div.offer.row
				div.small-12.columns.offer-info
					p 
						i Nobody has accepted your offers.
		-}

	div.row(class="offers")
		h3="Pending Transactions"
		-var count = 0;
		-each offer in offers
			-if (!offer.accepted && !offer.completed){
				div.offer.row
					div.small-12.offer-info
						div.small-12.columns
							h5="$" + offer.fixedPrice()
								if (offer.type == "Block")
									span.sell_type.sell_block=offer.type
								else
									span.sell_type=offer.type
							h5=" @ " + offer.location
							h6=offer.formatDate() + " | " + offer.formatTime()
					row
						div.small-12
							div.button-bar.action-button
								ul.button-group
									li
										a.small.radius.button(href="/edit/" + offer._id)="Edit"
									li
										a.small.radius.button.secondary.alert(href="/delete/" + offer._id)="Delete"
				-count ++;
			-}
		-if (count == 0){
			div.offer.row
				div.small-12.columns.offer-info
					p 
						i You have not made any offers.
		-}

	div.row(class="offers")
		h3="Completed Transactions"
		-var count = 0;
		-each offer in offers
			-if (offer.accepted && offer.completed){
				div.offer.row
					div.small-12.offer-info
						div.small-12.columns
							h5="$" + offer.fixedPrice()
								span.sell_type=offer.type
							h5=" @ " + offer.location
							h6=offer.formatDate() + " | " + offer.formatTime()
					row
						div.small-12
							div.button-bar.action-button
								ul.button-group
									li
										a.small.radius.button.success(href="/status/" + offer._id)="View Status"
				-count ++;
			-}
		-if (count == 0){
			div.offer.row
				div.small-12.columns.offer-info
					p 
						i You have not completed any offers.
		-}

