extends layout

block content
	div.row
		div.small-12.columns.page-title
			img.profile-pic(src="http://graph.facebook.com/"+user.fb_id+"/picture?width=60&height=60")
			h1= "Welcome, " + user.firstName()
	div.row(class="offers")
		h3="Pending Offers"
		-var count = 0;
		-each offer in offers
			-if (!offer.accepted && !offer.completed){
				div.offer.row
					a(href="/status/" + offer._id)
						div.small-12.offer-info
							div.small-7.columns
								h5="$" + offer.fixedPrice()
							div.small-5.columns
								a.tiny.button.action-button(href="/edit/" + offer._id)="Edit"
								a.tiny.button.secondary.alert.action-button(href="/delete/" + offer._id)="Delete"
				-count ++;
			-}
		-if (count == 0){
			div.offer.row
				div.small-12.columns
					p You have not made any offers.
		-}
	div.row(class="offers")
		h3="Accepted Offers"
		-var count = 0;
		-each offer in offers
			-if (offer.accepted && !offer.completed){
				div.offer.row
					a(href="/status/" + offer._id)
						div.small-12.offer-info
							div.small-7.columns
								h5="$" + offer.fixedPrice()
							div.small-5.columns
								a.tiny.button.action-button(href="/edit/" + offer._id)="Edit"
								a.tiny.button.secondary.alert.action-button(href="/delete/" + offer._id)="Delete"
				-count ++;
			-}
		-if (count == 0){
			div.offer.row
				div.small-12.columns
					p Nobody has accepted your offers.
		-}
	div.row(class="offers")
		h3="Completed Offers"
		-var count = 0;
		-each offer in offers
			-if (offer.accepted && offer.completed){
				div.offer.row
					a(href="/status/" + offer._id)
						div.small-12.offer-info
							div.small-7.columns
								h5="$" + offer.fixedPrice()
							div.small-5.columns
								a.tiny.button.action-button(href="/edit/" + offer._id)="Edit"
								a.tiny.button.secondary.alert.action-button(href="/delete/" + offer._id)="Delete"
				-count ++;
			-}
		-if (count == 0){
			div.offer.row
				div.small-12.columns
					p You have not completed any offers.
		-}

