extends layout

block content
	div.row
		div.small-12.columns.page-title
			h1= "Dashboard"
	div.row(id="offers")
		- if (offers == false){
			div.offer.row
				p You have not made any offers yet.
		-}
		- each offer in offers
			div.offer.row
				a(href="/offer/" + offer._id)
					div.columns
						div.sell_type
							p=offer.type
					div.small-8.columns.sell_info
						p.sell_price="$" + offer.fixedPrice() + " "
						p.sell_location="@ " + offer.location + " ›"
						p.accepted="Accepted: " + offer.accepted
					div.small-4.columns.sell_pic
						p=offer.fb_name
				a.delete(href="/delete/" + offer._id)="Delete Offer"
				a.edit(href="/edit/" + offer._id)="Edit Offer"