//- Newsfeed
extends layout

block content
	div.row
		div.small-12.columns.page-title
			h1= "Newsfeed"
	div.row(class="offers")
		- if (offers == false){
			div.offer.row
				div.small-12.columns.offer-info
				p There are no offers at this time. 
		-} else {
		- 	for (var i= offers.length-1, offer= offers[i]; i >= 0;  i--, offer=offers[i]) {
				div.offer.newsfeed.row
					a(href="/offer/" + offer._id)
						div.small-12.columns
							img.profile-thumbnail(src="http://graph.facebook.com/"+offer.user_id+"/picture?width=80&height=80")
							div.small-8.columns.offer-info
								div.small-12.columns
									h4="$"+offer.fixedPrice()
										span.sell_type=offer.type
									
									h4=" @ " + offer.location
									h6=offer.formatDate() + " | " + offer.formatTime()
									h6
										i=offer.fb_name
		-	}
		- }
			