//- Show Offer
extends layout

block content
    div.row
        div.small-12.columns.profile-pic.page-title
            img.profile-pic(src="http://graph.facebook.com/"+offer.user_id+"/picture?width=120&height=120")
            h1=offer.fb_name
    div.row
        div.small-12.columns.offer-description
            p="Wants to sell " + offer.type +" at $" + offer.fixedPrice() + "."
            p=offer.fb_name + " is currently located at " + offer.location + "."
            p="The offer will expire in " + offer.expiration + " hours."
            p="You can reach " + offer.fb_name + " at " + offer.contact_info
            p="This offer was made on " + offer.formatDate() + " at " + offer.formatTime()

    div.row
        div.small-12.columns
            a.radius.button(onclick="acceptOffer()")="I want to accept this offer!"
    div.row
        div.small-12.columns
            a.button.radius.tiny.secondary(href="/newsfeed")="Go Back"