//- Show Offer
extends layout

block content
    div.row
        div.small-12.columns.profile-pic.page-title
            img.profile-pic(src="http://graph.facebook.com/"+offer.user_id+"/picture?width=120&height=120")
            h1=offer.fb_name
    div.row
        div.small-10.medium-6.columns.offer-description.small-centered
            -if (offer.type==="DineX"){
                p="Is selling " + offer.type +" at $" + offer.fixedPrice()
            -} else 
                p="Is selling a " + offer.type +" for $" + offer.fixedPrice()
            br
            p=offer.firstName() + " will meet you at " + offer.location
            br
            p="Here is " + offer.firstName() + "'s phone number: " + offer.contact_info
            br
            p="This offer was made on " + offer.formatDate() + " at " + offer.formatTime()

    div.row
        div.button-bar.status-buttons
            ul.button-group 
                li.status-action
                    a.button.radius.small.secondary(href="/newsfeed")="Go Back"
                li.status-action
                    a.radius.small.button(onclick="acceptOffer()")="Accept this offer!"